.contactback {
  background: url(../img/fondoazul@2x.png) no-repeat center center;
  background-size: cover;
  height: 200px
}
.contenedor {
  width: 80%;
  max-width: 1200px;
  margin: 50px auto;
  height: 600px
}
.formulario {
  float: left;
  padding-top: 20px;
}
.formulario form {
  margin-top: 20px;
}
.formulario form p {
  float: right;
  color: #869097
}
.f1 {
  margin-right: 3%;
  width: 47%;
}
.f2 {
  margin-left: 3%;
  width: 47%;
}
.contactform form input, .contactform form textarea, select {
  width: calc(100% - 10px);
  margin-top: 5px;
  height: 50px;
  object-fit: contain;
  background-color: #f3f3f3;
  border: none;
  padding: 0 0 0 10px;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.33;
  color: #a9a9a9;
  margin-bottom: 15px;
  border-bottom: 3px solid #f3f3f3;
  font-family: lato, arial;
  border-radius: 5px;
}
.contactform textarea {
  margin-top: 15px;
  height: 150px!important;
  padding-top: 10px
}
.contactform input:focus, .contactform textarea:focus {
  background: rgba(248, 248, 248, .7);
  border: none;
  box-shadow: none;
  outline: 0;
  border-bottom: solid 3px #0053bf;
  color: #0053bf;
  font-weight: 300
}
#drop a, #drop p {
  font-size: 17px;
  text-align: center
}

#drop, #drop a, #drop p {
  width: 100%
}
select {
  width: 100%;
  height: 55px;
  border-radius: 5px;
}
.send {
  border: none;
  padding-left: 0!important;
  width: 134px!important;
  height: 49px!important;
  border-radius: 6px!important;
  background-color: #2edad3!important;
  box-shadow: 0 3px 5px 0 rgba(3, 88, 106, .14);
  color: #fff!important;
  float: right;
  cursor: pointer;
  font-size: 19px;
  font-weight: 400!important;
  font-family: lato, arial;
  border-bottom: none!important;
  margin-bottom: 15px;
  padding: 0 0 0 10px;
}
#drop p, .info, .required {
  font-weight: 300
}
.send:hover {
  background: #12C2BB
}
.info {
  font-size: 20px;
  color: #869097
}


.box__file {
  background-color: #f9f9f9!important;
  border: 1px dashed #0053bf!important;
  height: 85px!important
}
#drop, #upload ul li {
  background-color: #f9f9f9
}
.required {
  color: grey
}

#drop {
  height: 84px;
  border: 1px dashed #0053bf;
  box-sizing: border-box;
}
#drop a {
  border-radius: 2px;
  margin-top: 12px;
  line-height: 1;
  color: #2edad3;
  text-decoration: underline
}
#drop p {
  color: #869097;
  padding-top: 15px
}
#upload ul {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  width: 100%
}
#upload ul li {
  border-bottom: 1px solid #f3f3f3;
  padding: 15px;
  height: 40px;
  position: relative
}
.estrella {
  margin-top: 10px
}
#upload ul li p {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  color: #2edad3;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  max-width: 80%;
}
#upload ul li i {
  font-weight: 400;
  font-style: normal;
  color: #7f7f7f;
  display: block
}
.city, .office {
  font-weight: 700
}
#upload ul li span {
  width: 15px;
  height: 12px;
  background: url(../img/icons.png) no-repeat;
  position: absolute;
  top: 28px;
  right: 33px;
  cursor: pointer
}
#upload ul li.working span,
#upload ul li.error span {
  height: 16px;
  background-position: 0 -12px
}
#upload ul li.error p {
  color: red
}
#drop input, #upload ul li input, canvas {
  display: none
}
.contactform button span {
  text-transform: uppercase;
}
.contactform .loading {
  display: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  margin-left: auto;
  margin-right: auto;
}
.contact-success {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(298deg, #50e3c2, #0bd9d4 85%, #00d8d7);
  z-index: 2;
}
.contact-success .content {
  background-image: url(../img/mail-icon.png);
  background-repeat: no-repeat;
  background-position: 49% top;
  margin-top: 25vh;
  padding-top: 50px;
}
.contact-success h2 {
  font-family: Lato, arial;
  font-size: 56px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}
.contact-success p {
  font-family: Lato, arial;
  font-size: 26px;
  text-align: center;
  color: #ffffff;
  max-width: 745px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.contact-success p:last-child {
  margin-bottom: 0;
}
.form-error {
  color: #DB1F11;
  display: none;
  margin-top: 12px;
}

/* -------------------------------------------- */
/*
/* -------------------------------------------- */

.inputsgroup {
  height: 50px;
}

input {
  -webkit-appearance: none!important;
}

@media only screen and (max-width: 1095px) {
  .introtext {
    width: 90%;
  }

  .contactback .introtext {
    height: 400px;
  }
}

@media only screen and (max-width: 1023px) {
  .time {
    float: left;
  }

  .dires {
    text-align: left;
    width: 100%;
  }

  .mapas {
    margin: 30px 0 50px;
    width: 205px;
    width: 100%;
  }

  .contenedor {
    width: 80%;
    max-width: 533px;
    margin: 50px auto;
    height: 600px;
  }

  .phonedire {
    width: 200px;
  }

  .f2 {
    margin-left: 0;
  }

  .formulario {
    padding-top: 10px;
  }

  #upload {
    margin-top: 5px;
  }

  .mapas.map2 {
    margin-left: 0;
    margin-top: 0;
  }

  .mapas.map1 {
    margin-right: 0;
  }

  .copyright {
    float: none;
    width: 100%;
  }

  footer {
    height: 240px;
  }

  .mailto {
    float: none;
    line-height: 64px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 830px) {
  .intro {
    z-index: 0;
  }

  .fixed,
  nav {
    position: fixed;
  }

  html {
    background: url(../img/polina.jpg) center center no-repeat fixed #000;
  }

  nav {
    height: 70px;
    width: 100%;
    font-size: 11pt;
    font-weight: 700;
  }

  .intro {
    margin-top: 0;
  }

  .logocont {
    background: url(../img/logo.png) center center no-repeat;
  }

  .menup {
    margin-bottom: 13px;
  }

  .introtext {
    height: 100%;
  }

  .fixed {
    background: #fff;
  }

  nav a {
    color: grey;
  }
}

@media only screen and (max-width: 790px) {
  footer {
    height: 100%;
  }

  .contenidofoot {
    padding-top: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    height: 350px;
  }

  nav {
    position: absolute;
    top: 0;
    background: #fff;
  }

  nav a {
    color: grey;
  }

  .fixed {
    position: fixed;
  }

  .introtext {
    height: 100%;
  }
}

@media only screen and (max-width: 740px) {
  .talkcolor,
  nav a {
    text-align: left;
    color: grey;
  }

  nav {
    border-bottom: 0;
  }

  nav ul {
    display: none;
    height: auto;
  }

  .logocont {
    background: url(../img/logo.png) center center no-repeat;
  }

  #pull,
  #pull span {
    display: block;
    position: absolute;
  }

  .centradomenu,
  .menup {
    width: 100%!important;
    background: #fff;
  }

  .centradomenu {
    padding: 0;
  }

  .menup {
    padding-left: 5%;
  }

  .menup {
    border-bottom: 1px solid #2edad3;
    margin-top: 0;
  }

  .menup li {
    width: 100%;
    margin: 0;
    border-bottom: none;
  }

  #pull span {
    height: 4px;
    width: 40px;
    background: #50e3c2;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  #pull span:nth-child(1) {
    top: 19px;
  }

  #pull span:nth-child(2),
  #pull span:nth-child(3) {
    top: 29px;
  }

  #pull span:nth-child(4) {
    top: 39px;
  }

  #pull {
    width: 70px;
    float: right;
    right: 0;
    height: 70px;
    top: 0;
  }

  .talk img {
    display: none;
  }

  nav a {
    padding-left: 7%;
    width: 100%;
    text-align: left;
  }

  nav a {
    float: none!important;
    LINE-HEIGHT: 60PX;
  }

  .talk {
    width: 100%!important;
    height: 60px;
    background: 0 0!important;
    border-radius: 0;
  }

  .talkcolor {
    margin: 0;
    padding: 0 0 0 7%;
    width: 100%;
  }

  .redes img {
    margin: 0 5px;
  }

  .redes {
    width: 371px;
  }
}

@media only screen and (max-width: 710px) {
  body {
    max-width: 710px;
  }
}

@media (max-width: 630px) {
  body {
    max-width: 630px;
  }

  .dires,
  .formulario {
    width: 100%;
  }

  .dires {
    text-align: left;
  }
}

@media (max-width: 568px) {
  #map-canvas2 {
    margin-top: 5px;
  }

  nav li {
    display: block;
    float: none;
    width: 100%;
  }

  .logocont {
    width: 108px;
    margin-top: 10px;
    background-size: 108px!important;
    height: 40px;
  }

  #pull {
    height: 43px;
  }

  #pull span:nth-child(1) {
    top: 20px;
  }

  #pull span:nth-child(2),
  #pull span:nth-child(3) {
    top: 30px;
  }

  #pull span:nth-child(4) {
    top: 40px;
  }

  #pull span {
    width: 29px;
    left: 10px;
  }

  .intro {
    height: 350px;
    margin-top: 0;
  }

  section.intro.contactback {
    height: 200px;
  }

  footer {
    height: 100%;
  }

  .redes img {
    margin: 5px;
  }

  .redes {
    width: 247px;
  }

  .mailto {
    margin-top: 117px;
  }

  #map-canvas,
  .mapas {
    width: 100%;
  }

  nav {
    height: 60px;
  }

  #map-canvas {
    height: 100px;
  }

  #map-canvas2 {
    height: 100px!important;
    width: 100%;
  }
}

@media (max-width: 465px) {
  .redes {
    width: 247px;
  }

  .dires,
  .mapas {
    width: 100%;
  }

  .dires {
    float: none;
  }

  #map-canvas,
  #map-canvas2 {
    height: 100px;
    width: 100%;
  }

  body {
    max-width: 465px;
  }
}

@media (max-width: 414px) {
  .introtext {
    padding-top: 0;
    height: calc(100vh - 0px);
  }

  .contactback {
    background: url(../img/fondoazul@2x.png) center center no-repeat;
    background-size: cover;
  }
}

@media (max-width: 370px) {
  #drop p {
    font-size: 13px;
  }
}

@media screen and (max-width: 570px) {
  .form-error span {
    display: block;
  }
}
